extends ../layouts/layout.pug

block content
    h1 Create Users 

    form(action="/users/create", method="post")
        .form-group
            label(for="name") Name 
            input#name.form-control(type="text", name="name", placeholder="name") 

        .form-group 
            label(for="phone") Phone 
            input#phone.form-control(type="text", name="phone", placeholder="phone") 
            
        button.btn.btn-primary Create