extends ../layouts/layout.pug

block content
    h1.user_list Users 

    form.users_search(action="/users/search", method="GET")
        input(type="text", name="q", placeholder="name")
        button Search

    ul.users_data_search 
        each user in users 
            span= user.name 
            span &nbsp;
            a(href="/users/" + user.id) View